.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 5px;
    margin-bottom: 35px ;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1 px solid lightgray;
    border-bottom: 1 px solid lightgray;
}
.post__caption{
    font-weight: normal;
    padding: 10px;
}
.post__header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.post__avatar{
    margin-right: 10px;
}

.inputStyles{
    margin-bottom: 10px;
    border: 0.5px solid darkgrey;
    padding: 5px;
  
  }